.navbar {
    width: 50%;
    min-width: 524px;
    height: 39px;
    row-gap: 24px;
}

.link a {
    color: rgba(0, 0, 0, 0.596);
    text-decoration: none;
}

@media screen and (max-width: 650px) {
    .navbar {
        position: absolute;
        display: none;
    }
}