.footer {
    background-color: var(--black);
    min-height: 40px;
    padding: 40px 20px;
}

.linkage {
    width: 100%;
    max-width: 420px;
    min-height: 239px;
    /* background-color: white; */
}

.col {
    width: 79px;
}

.contents {
    list-style: none;
}

.content {
    margin-top: 10px;
}

.content a {
    text-decoration: none;
}