.App {
  min-height: 100vh;
  /* background-color: yellow; */
  width: 100%;
  max-width: 1440px;
}

@media screen and (max-width: 810px) {
  .App {
    /* background-color: yellow; */
    /* overflow-x: hidden; */
  }
}